/*CALENDAR*/
.calendar-template p,h3, code{
	text-align:center;
	line-height: 1.5rem;
	margin: 2px;
	padding: 0px;
	display: block;
	position: relative;
}

.calendar-template{
	padding: 2rem;
	margin-bottom: 10rem;
}

.calendar{
	display: inline-block;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
}

.calendar body {
	padding: 1rem;
}

.calendar h5{
	font-size: 1.5rem;
	font-weight: 500;
	color: #EF4564;
}

.calendar table { 
  width: 100%; 
  border-collapse: collapse;
  padding: 1rem; 

}
.calendar td, .calendar th {  
  color: #B52185; 
  font-weight: 400;
  padding: 1rem; 
  border: 1px dotted #47B484; 
  text-align: center; 
  width: 14.2857%;
}


.calendar td{
	font-weight: 300;
}

.calendar .old-days {
	color: #AAA;
}
.calendar td:hover {
	background:rgb(181, 33,133);
	color:#ffffff;
	font-weight: 500;
	border-style: solid;
}


@media(max-width: 760px){

.calendar table,.calendar thead, .calendar tbody, .calendar th, .calendar td, .calendar tr{
  display:block;
}
.calendar thead tr{
  display: none;
}
.calendar td{
	border: none;
	border-bottom: 1px solid #AAA;

}
}