@-ms-viewport{
  width: device-width;
}
body{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
	font-size: 0.8em;
}

h1 {
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 700;
	font-size: 5em;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	color: #FED602;
}

p {	
    font-weight: 300;	
	font-size : 1em;
}

/*nav bar elements*/
nav{
	background-color: #FFFFFF;
	width: 100%;
	height: 5em;
}

/*nav bar logo*/
nav img{
	width: auto;
	height: 6em;
}

/*nav bar: home bundle booking*/
nav a{
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
}

.moments img{
	width: 80%;
	height: auto;
}

.contact_us img{
	width: 5rem;
	height: auto;
}
.bundles img{
	width: 70%;
	height: auto;
}
.bundles img:hover{
	opacity: 0.5;
}
.bundles h1{
	text-align: left;
}
.bundles h2{
	position: relative;
}
.bundles a{
	text-align: right;
}



.floorplan img{
	width: 100%;
	height: auto;
}

.floorplan li{
	display: block;
	text-align: left;
	text-decoration: none;
}

.floorplan h2{
	display: block;
	text-align: left;
	text-decoration: none;
}

.floorplan h3{
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 4em;
}




/*fOOTER*/

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/


.form{
	padding: 2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	/*width:100%;*/
	/*float:left;*/
	/*padding-top:30px;*/
}
.text_footer input{
	width: 25rem;
	height: 5rem;
}
#form1{

}

#form-div {
	/*padding-top: 3rem;*/
	/*background-color:#3c3c3c;*/

	/*padding-bottom:50px;*/
	/*width: 450px;*/
	/*float: left;*/
	/*left: 50%;*/
	/*position: absolute;*/
	/*margin-left: -260px;*/
}
.name2, .email, .text_footer, .submit{
	flex-grow:1;
	padding: 1rem;

}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	border-radius: 0;
	background-color: #fbfbfb;
  	border: 3px solid #fbfbfb;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	/*margin-bottom: 0.5rem;*/
	/*width:100%;*/
	flex-grow:1;
}

.footer_description{
	padding-bottom: 2.5rem;
	align-self:flex-end;
}




input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;

}
.submit{
	align-self:flex-end;
}
#button-blue{
	
	float:left;
	/*width: 100%;*/
	border: #e37955 solid 2px;
	cursor:pointer;
	background-color: transparent;
	color:#e37955;
	/*font-size:24px;*/
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{

	background-color: #e37955;
	color: #ffffff;
}

/*FOOTER*/
footer{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;

	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #856F73;

}
footer img{
	width:auto;
	height: 5em;
}
footer li {

	color: #ffffff;
	padding-left: 2rem;
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 0.4em;
}

/*__________________________________stuff I added*/
/*fixed nav bar*/

#navToggle {
	display: none;
	background-color:#E37A56;
	text-decoration: none;

}
#navToggle p{
	
	text-align: center;
	color:#FFFFFF;
}
#navigationbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    z-index: 1;  /*make it above heading img*/
    background: #FFFFFF;
}

/*navbar achor tag*/
#navigationbar a{
	text-decoration: none;
}

/*nav bar achor tag color*/
.home-bar a{
	color: #E37A56;
}

.bundle-bar a{
	color: #EEA35E;
}
.booking-bar{
	border:1px solid #61B7A3;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.booking-bar a{
	color: #61B7A3;
}

.home-bar:hover {
	border-bottom: 3px solid #E37A56;
}

.bundle-bar:hover {
	border-bottom: 3px solid #EEA35E;
}

.booking-bar:hover {
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background: #61B7A3;
}
.booking-bar:hover a{

	color: #FFFFFF;
}

/*header image*/
.header{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	justify-content: space-around;
}

.header{
	background-image:url("../img/header_background.jpg");
}
.header_icon {
	padding-top: 10rem;
	background-size: 100%;
	background-repeat:no-repeat;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.header_icon_1 img, .header_icon_2 img, .header_icon_3 img{
	width: 10rem;
	padding: 1rem;
	/*align-self:auto;	*/
	flex-grow:1;
}
.header_icon_1 p, .header_icon_2 p, .header_icon_3 p{
	color: #FFFFFF;
	text-align: center;
}
.header_icon {
	padding: 10rem;
	/*align-self:auto;	*/
}


.svg-wrapper {
  position: relative;
  top: 80%;
  transform: translateY(-50%);
margin: 0 auto;
  /*width: 320px;  */
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  
  letter-spacing: 0.5em;
  color: #fff;
  bottom: 3rem;
  /*left: 2rem;*/
  position: relative;
  text-align: center;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}




/*Hi there, welcome to...*/
.home_title > div > h1{
	display: flex;
	justify-content: center;

    margin-top: 15rem;
    color: #E37A56;
    text-align: center;
}

.home_title > div> h3{
	display: flex;
	justify-content: center; /*content center*/

    margin-top: 4rem;
    margin-bottom: 3rem;
	font-weight: 500;
	color: #E37A56;
	text-align: center; /*p itself center*/
}

.home_title > div > p{
	display: flex;
	justify-content: center;

	color: #E37A56;
	text-align: center;

	border-top: 1px solid #E37A56;

	/*making the border L/R shorter*/
	margin-left: 20rem;
	margin-right: 20rem;
	margin-bottom: 9rem;

	/*making the padding space top/down wider*/
	padding: 3rem 0;

}

.home_photo {
	display: -webkit-flex; /*same as flex*/
	flex-wrap: wrap; /*it moves down 1 block as shrink*/
	align-items: center;
    flex-flow: row wrap;
}

.home_photo > .photo {
	flex: auto;

	width: 600px;
	padding-top: 0.5rem;
}

.home_photo > .photo > img{
	width: 100%; 
	height: auto;

}

.home_photo > .photo > p{
	text-align: center;
	margin-bottom: 4rem;
	font-weight: 500;
/*	color: #686868;*/
	color: #E37A56;
}

.floor_plan h2{
	color: #E37A56;

}

.floor_plan p {

}

.floor_plan img {
	
}

/*MEDIA QUERIES*/

@media all and (max-width: 600px) {
	.text input{
		width: 20rem;
	}
	.text_footer{
		padding: 0;
	}
}
@media all and (max-width: 430px) {
    .text input{
		width: 10rem;
	}
		
}
