
nav{

	background-color: #b52185;

}
nav a {
	font-family: 'Bubblegum Sans', cursive;
	text-align:left;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

nav ul:hover li:hover a:hover {
	color: #b52185;
}
nav li:hover{
	color: #fed60e;
	background-color: #fed60e;
}


nav ul li a {
	display: inline-block;
	color: #fed60e;
	text-decoration : none;
}
nav li{
	display: inline-block;
     -webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

