

/*NORMAL ELEMENTS*/


/*NAV BAR*/
#navToggle {
	padding: 1.5rem;
	display: none;
	background-color:#E37A56;
	text-decoration: none;

}
#navToggle p{
	
	text-align: center;
	color:#FFFFFF;
}
#navigationbar {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: fixed;
    z-index: 1;
/*    background-image:url(../img/body_background.jpg);
    background-size: 25%;*/
    background-color: #FAFAFA;
}
#navigationbar a{
	text-decoration: none;
	font-size: .8rem;
}

#navigationbar img{
/*	display: flex;
	flex: 3;
    justify-content: flex-start;*/

/*    margin-left: 2.5rem;*/
    width: 6em;
    height: auto;
    margin-top: -0.2em;
}

#navigationbar{
	display: flex;
	flex: 2;
	justify-content: space-around;
	align-items: center;
}

/*DANIEL NAV BAR UPDATES*/

/*.home-bar{
	border: 1px solid #E37A56;
	border-color: #FFFFFF;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.bundle-bar{
	border: 1px solid #EEA35E;
	border-color: #FFFFFF;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.booking-bar{
	border: 1px solid #61B7A3;
	border-color: #FFFFFF;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.home-bar:hover {
	transition: background-color .5s ease-out;
	background: #E37A56;

}

.home-bar:hover a{
	color: #FFFFFF;
}


.bundle-bar:hover {
	transition: background-color .5s ease-out;
	background: #EEA35E;
}

.bundle-bar:hover a{
	color: #FFFFFF;
}


.booking-bar:hover {
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background: #61B7A3;
}

.booking-bar:hover a{
	color: #FFFFFF;
}*/


/*DANIEL NAV BAR UPDATES ENDS*/


			/*nav bar achor tag color*/
			.home-bar a{
				color: #E37A56;
			}

			.bundle-bar a{
				color: #EEA35E;
			}

			.booking-bar{
				color: #EEA35E;
			/*	border:1px solid #61B7A3;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 5rem;
				padding-right: 5rem;*/
			}
			.booking-bar a{
				/*border:1px solid #61B7A3;*/
				color: #61B7A3;
			}

			.home-bar:hover {

				border-bottom: 3px solid #E37A56;
			}

			.bundle-bar:hover {

				border-bottom: 3px solid #EEA35E;
			}

			.booking-bar:hover {
				-webkit-transition: background-color .5s ease-out;
				-moz-transition: background-color .5s ease-out;
				-o-transition: background-color .5s ease-out;
				transition: background-color .5s ease-out;
				background: #61B7A3;
			}
			.booking-bar:hover a{

				color: #FFFFFF;
			}


/*LANDING HEADER*/
/*header image*/


/*SLIDER SECTION*/

.slider{
	background-color: #EEA35E;
	display: inline-block;
	position:relative;
	width:100%;
}

.slider .text{
	width: 100%;
	padding-left: 4rem;
	padding-top: 8rem;
	padding-bottom: 2rem;
	position:relative;
	text-align: left;
	color: #FFFFFF;
	
}
.booking_slider h1{
	color: #FFFFFF;
}

.slider {

	/*background-image:url("../img/header_img(2)-02.png");*/
	background-size: 100%;
	background-repeat:no-repeat;
	display: flex;

}
.image-icon img{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 50px;
	flex-grow:1;
}

/*SLIDER SECTION*/

/*TOP PAGE */

/*THEME BUNDLES CSS*/
.shower{
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding-left: 4rem;
	padding-right:4rem; 
	-webkit-flex-flow: row wrap;
	justify-content: center;
	
}
	.shower_description{

	}

	.shower .text2{
		padding-right: 25rem;

	}
	.shower > * {
	  padding: 10px;
	  flex: 1 50%;
	}
.birthday_shower{
	background-color: #FCF7EC;
}
/*BUNDLES*/

.bundle-1{
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.bundle-1 .image{
	width: 200px;
}

.bundle-1 img{
	opacity: 0.8;
	width: 100%;
}

.bundle_description-1{
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	padding: 2rem;
	justify-content: space-around;

}

.bundle_description-1 li{

	display:block;
	text-align: left;
}


.bundle_description-1 .booking_button a{

	color: rgb(227,121,85);
	border-color: rgb(227,121,85);
}

.bundle_description-1 .booking_button a:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;


	color: #FFFFFF;
	border-color: rgb(227,121,85);
	background: rgb(227,121,85)
}

.bundle_description-1c{
	width: 20%;
	text-align: center;
}

.booking_button a{
	padding: 1rem;
	width: 100%;
	display: inline-block;
	font-size: 1em;
	border: 2px solid #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
}

.booking_button  a:hover {
	background-color: #FFFFFF;
	color: #000000;

}

.booking_slider{
	background: #61B7A3;
}
/*BOOKING BUTTON COMMOM ELEMENTS*/
.booking-1c{
	align-self:flex-end;
}

.booking_button{
	text-align: center;
	padding: 2rem;
}
.payment_button{
	padding-top: 2rem;
	padding-left: 6rem;

}
.booking_button a, .payment_button a{
	padding-left: 3rem;
	padding-right:3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	/*width: 100%;*/
	/*display: inline-block;*/
	font-size: 1em;
	border: 2px solid #FFFFFF;
	border-color: #E37955;
	text-decoration: none;
	color: #E37955;
}

.booking_button  a:hover, .payment_button a:hover {
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	
	background-color: #E37955;
	color: #ffffff;
}

/*BOOKING ELEMENTS*/
	.booking-1c{
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.booking-1b{
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.booking-1a{
		padding-left: 3rem;
		width: 100%;
		margin: 0; 
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
	}

		.booking-1a .image-icon img{

			padding: 1rem;
		}
		.booking-1a .sub-title h2 {
			padding-top: 1.5rem;
			text-align: left;
		}

.choose_time{
	background-color: #FCF7EC;
}

}
.choose_date, .choose_bundle{
	background-color: #FCF7EC;
}

.booking2{
	padding-left: 4rem;
	padding-right:4rem; 
	padding-bottom: 2rem;
	-webkit-flex-flow: column wrap;
	justify-content: space-around;
	list-style: none;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.booking{
	
	padding-left: 4rem;
	padding-right:4rem; 
	padding-bottom: 2rem;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

	
	.booking-1b{
		flex-grow:2;
		
	}

.sub-title h2{
	text-align: center;
}
/*SELECT DROPDOWN ELEMENS*/

.style-select select{
	border-color: #E37955;
	background: transparent;
	font-size: 14px;
	height: 90px;
	padding: 2rem; /* If you add too much padding here, the options won't show in IE */
	width: 90px;
}
	.rounded {
	   -webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   border-radius: 20px;
	}
/*STYLE WHEN HOVER*/
.style-select select:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background: #E37955;
	color: #ffffff;
}

.style-select input{
	text-align: center;
	/*color: #FFF3ff;*/
	border-color: #E37955;
	background: transparent;
	font-size:14px;
	height: 25px;
	padding: 2rem; /* If you add too much padding here, the options won't show in IE */
	width: 90px;
}

.style-select input:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background: #E37955;
	color: #ffffff;
}





/*BUNDLE CLASS*/

.booking-bundle {
  
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
[class^= 'bundle-item-']{
	padding-left:2rem; 
	padding-right:2rem; 
	width: 200px;
	height: 200px;
	text-align: center;
	padding-top: 2rem;
}
.image{
	position: relative;
}

.bundle-item-1 img{
 border:1px solid #E37955;
box-shadow: 0 0 0 4px rgba(255,255,255,1);
	transition: background 0.2s, color 0.2s;
	width: 200px;
	height: auto;
	text-align: center;
}
.bundle-item-1 img:hover{
	background: rgba(255,255,255,1);
	color: #64bb5d;
	border-radius: 3rem;
	 /*opacity: 0.5; */
	  border:1px solid #E37955;
}



.bundle-item-1 img.active{
	 /*opacity: 0.5;*/
	 border-radius: 3rem;
	 background-color: #E37955;
	 border:1px solid #E37955;
	 transition: background 1s, color 1s;
}

.sub-title h2{
	text-align: center;
}
/*SELECT DROPDOWN ELEMENS*/

[class^='contact-']{
	padding: 1rem; 
}

.contact-1 input, .contact-2 input, .contact-3 input{
	height: 20px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 400px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
}

.contact-1 input:hover, .contact-2 input:hover, .contact-3 input:hover{
	background: transparent;
	border-color: #F7DFD1;
}

.booking3 em{
	display: inline-block;
	border:solid 1px rgba(109, 110, 113,0.4);
	padding:0.5rem 1rem;
	margin:0.5rem;
}
.booking3 .type{
	background: transparent;
	display: inline-block;
	border:none;
	/*padding:0.5rem 1rem;*/
	margin:0.5rem;
	font-style: italic;
	font-weight: 700;
}


.booking4 .contact-1, .booking4 .contact-2, .booking4 .contact-3{
	padding-left: 6rem;
}
.booking-1c .payment_button{
	padding-left: 10rem;
}


/*PAYMENT*/

.payment{

	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	justify-content: space-around;
	align-items:center ;
	/*background-color: #000000;*/
}

.payment-title{
	padding-top: 2rem;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	justify-content: space-around;
	align-items:center ;
}

.payment-title h2{
	text-align: center;
	/*padding-right: 3rem;*/
	padding-top: 1rem;
	padding-bottom: 1rem;
	flex-grow:1;
}
.payment-image{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items:center ;
	padding: 2rem;
}
.payment-title img{
	width: 2.5rem;
	padding-right:1rem; 
	flex-grow:1;
}
[class^= 'inputs-']{
	padding: 1rem; 
}

.inputs-1 input, .inputs-2 input, .inputs-3 input, .inputs-4 input{
	height: 20px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 400px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
}

.inputs-1 input:hover, .inputs-2 input:hover, .inputs-3 input:hover, .inputs-4 input:hover{
	background: transparent;
	border-color: #F7DFD1;
}
.confirm{
	padding: 2rem;
}
.confirm_button a{
	padding-left: 3rem;
	padding-right:3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	/*width: 100%;*/
	/*display: inline-block;*/
	font-size: 1em;
	border: 2px solid #FFFFFF;
	border-color: #E37955;
	text-decoration: none;
	color: #E37955;
}

.confirm_button  a:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	border-color: #E37955;
	background-color: #E37955;
	color: #ffffff;
}

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/


.form{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding: 10rem;

/*	-webkit-flex-flow: row wrap;
	justify-content: space-around;*/

}

.form2 .name2 input{
	background-color: #FFFFFF; 
}

.form2 .email input{
	background-color: #FFFFFF; 
	margin-left: 0.5rem;
}

.text_footer textarea{
	background-color: #FFFFFF; 

	width: 20rem;
	height: 7rem;
}

.name2, .email, .text_footer, .submit{
	flex-grow:1;
	padding-left: 2.5rem;
	margin: 1rem;
}

.footer_description{
	padding-right: 2.5rem;
	align-self:flex-start;
}

.form-main input:hover, .form-main textarea:hover,
.form-main input:focus, .form-main textarea:focus {
	/*border:transparent;*/

}

/*footer*/
/*flex-boxing main form, (address number email)*/
footer{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: row;
    align-items: flex-start;

	width: 100%;
	background-color: #61B7A3;
}

#form1{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-start;
	flex: 1;
}

.footer_description{
	align-items: flex-start;
	flex: 1;
}

.footer_description li{
	color: #FFFFFF;
	font-size: 0.7rem;
	padding-left: 2rem;
	text-align: right;
	list-style-type: none;
}

/*flex-boxing personal info, comment box, button*/
#form1{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: column;
}

/*flex-boxing name, email*/
.form2{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-flow: row wrap;
}

.submit{
	align-self:flex-end;
}

.feedback-input {

	opacity:0.9;
	color:#e37955; /*ORANGE*/
	border-radius: 0;
	background-color: #fbfbfb;
  	border: 3px solid #fbfbfb;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	flex-grow:1;
}

#submit_button{
	
	float:left;
	border: #e37955 solid 2px;
	cursor:pointer;
	background-color: transparent;
	color:#e37955;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{

	background-color: #e37955;
	color: #ffffff;
}
	
/*MEDIA QUERIES*/
@media all and (max-width: 1000px) {
	.bundle-1 .image{
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
	}
	 .shower .text2{
		padding-right: 20rem;
	}
}
@media all and (max-width: 900px) {
	.floor_plan img{
		margin: 0;
	}
	.detail_description{
		display: flex;
		flex-flow: column;
		justify-content:space-around;
	}
	.floor_plan img{
		width: 100%;
		align-self:center;
	}
	.details h2{
		margin: 1rem;
	}
	 .title_middle p{
	  	margin: 2rem;
  }
  .middle{
  	flex-flow: column wrap;
  }
  .middle_photo{
  	/*flex-flow:column wrap;*/
  }
  .middle_description, .facilities_intro{
  	margin:1rem;
  }
	.shower .text2{
	padding-right: 15rem;
	}


	.booking{
	-webkit-flex-flow: row wrap;
  	justify-content: center;
  	padding: 1rem;
	}
  	#navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 800px) {
	.shower .text2{
		padding-right: 10rem;
   }

  .bundle-1{
  	 -webkit-flex-flow: row wrap;
  	justify-content: flex-start;
  }

  .bundle_description{
	justify-content: space-around;
  	padding: 0.5rem;
  	order:3;
  }

  .bundle_description-1{
  	padding: 0.5rem;
  }

  .bundle_description-1{
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	padding:0;
	justify-content: space-around;
}
  .bundle-1{
  	order:2
  }
  .bundle_description-1c{
  	order:1;
  }
  .bundle_description-1b, .bundle_description-1a{
  	order:2;
  	

  }
	.style-select select{
	border-color: #E37955;
	background: transparent;
	font-size: 14px;
	height: 90px;
	padding: 2rem; /* If you add too much padding here, the options won't show in IE */
	width: 90%;
	}
	.booking{
	-webkit-flex-flow: row wrap;
  	justify-content: center;
  	padding: 0;
	}
  #navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 680px) {
	footer{
		flex-flow:column;
	}
	.information{
		flex-flow: column wrap;
	 }
	 .header_icon_1, .header_icon_2, .header_icon_3{
	 	display: none;
	 }


}

@media all and (max-width: 600px) {

	  .header_icon_1 p, .header_icon_2 p, .header_icon_3 p{
	color: #000000;
	text-align: center;
  }
  	.facilities .facilities_photo{
		flex-flow: row wrap;
		
 }

  #navigationbar{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
		  #navigationbar li:last-of-type a {
		    border-bottom: none;
		  }
		  .bundle-bar a, .booking-bar a, .home-bar a { 
		    text-align: center; 
		    padding: 10px;
		   
		  }


	.slider .text{
		padding: 1rem;
		width: auto;
	}
	.booking-1b .booking_button, .payment_button{
		padding-top: 2rem;

	}

  .booking, .booking, #navigationbar, .booking-1a, .booking-1c, .booking-1c .calendar{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 1rem;
  }

    .shower{
    	padding: 1rem;
    }

	    .shower .text2{
		padding-right: 5rem;

		}
		.shower{
			display: -ms-flexbox;
			-ms-flex-wrap: wrap;
			-ms-flex-direction: column;
			-webkit-flex-flow: row wrap; 
			flex-flow: row wrap; 
			display: -webkit-box;
			display: flex;
		}
	  
  .bundle_description-1{
    flex-flow: column wrap;
    padding:1rem;
  }
  .bundle_description-1 h3{
  	text-align: left;
  }


  .bundle_description-1a, .bundle_description-1b{
  	width: 100%;
  	text-align: center;
  }

  .bundle_description-1a li, .bundle_description-1b li{
  	flex-grow:2;
  }

  .bundle_description-1c{
  	width: 80%;
  }
/*PAYMENT*/
	  	.text input{
			width: 20rem;
		}
		.text_footer {
			padding: 0;
		}
		.payment{

			padding: 1rem;
		}

		.inputs-1 input, .inputs-2 input, .inputs-3 input, .inputs-4 input{
			height: 20px;
			padding: 1rem; /* If you add too much padding here, the options won't show in IE */
			width: 200px;
			border-radius: 20px;
			border-color: transparent;
			background: #F7DFD1;
		}


}

@media all and (max-width: 500px) {
	
	.text_footer textarea{
		width: 80%;
	}
	.contact-1 input, .contact-2 input, .contact-3 input{
	
	height: 10px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 300px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
	}
	
	.image_1, .image_3, .image_4, .image_5, .image_6{
		display: none;
	}
	.image-icon{
		display: none;
	}
	.payment_button{
		padding: 1rem;
	}

}

@media all and (max-width: 430px) {
    .text input{
		width: 15rem;
	}
		
}

@media all and (max-width: 414px) {
	.middle_description p, .facilities_intro p{
  	display: none;
  }
  .photo-2, .photo-3, .photo-4, .photo-5, .facilities_photo-1, .facilities_photo-2, .facilities_photo-3,  .facilities_photo-4 {
  	display: none;
  } 
	.shower{
    	padding: 0;
    }
	.image_1, .image_3, .image_4, .image_5, .image_6{
		display: none;
	}
	.shower .text2{
    	padding:1rem;
    }
    
}

@media all and (max-width: 400px) {
	
	.contact-1 input, .contact-2 input, .contact-3 input{
	
	height: 10px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 100px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
	}
	.booking-1c .payment_button, .booking-1c .booking_button{
		padding:1rem;
	}
	.booking{
		padding: 1rem;
	}
	.booking_button{
		padding:0;

	}
}


@media all and (max-width: 285px) {
	
	.contact-1 input, .contact-2 input, .contact-3 input{
	
	height: 10px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 100px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
	}
	.booking-1c .payment_button{
		padding:1rem;
	}
	.booking{
		padding: 1rem;
	}
	.booking_button{
		padding-right: 3rem;

	}
}



