
.baby_shower{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;

}

.baby_shower > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
  background: deepskyblue;
}



.aside-1 {
  
}


.navigation{

	list-style: none;
	margin: 0; 

	background-color: #856F73;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-around;
	flex-wrap:no-wrap;

}


.navigation a {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	text-decoration: none;
	display: block;
	padding:2rem;
	color: white;

	

}

.navigation li{
	text-align: center;
	flex-grow:1;
	flex-shrink:1;
}
.navigation .booking_button{
	flex-grow:3;
	flex-shrink:2;
}
.navigation li:hover{
	color:#b52185;
	background-color: #b52185;
}

.navigation img{
	width:auto;
	height: 4em;
	flex-grow:1;
}

.booking_button a{
/*	padding: 2rem;*/
	border:1px solid;
}

.booking_button a:hover{
	background-color: #FFFFFF;
	color: #000000;
}

@media all and (min-width: 600px) {
 }
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
 @media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

