@-ms-viewport{
  width: device-width;
}
html{
	background-color: #FCF7EC;
}
.date_time img{
	padding-top: 1em;
	width: 4em;
}

.shower{


	list-style: none;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	padding-left: 4rem;
	padding-right:4rem; 
	-webkit-flex-flow: row wrap;
	justify-content: center;
	
	
}

.shower > * {
  padding: 10px;
  flex: 1 50%;
}





.bundle_description-1{

	list-style: none;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 2rem;

	justify-content: space-around;

}


.bundle-1{

  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.bundle-1 .image{
	width: 200px;

  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
}

.bundle-1 img{
	opacity: 0.8;
	width: 100%;
}
.bundle_description-1 li{

	display:block;
	text-align: left;
}

.bundle_description-1 section{ 
	padding-bottom:10rem; 

}

.bundle_description-1 .booking_button a{

	color: rgb(227,121,85);
	border-color: rgb(227,121,85);
}

.bundle_description-1 .booking_button a:hover{
	color: #FFFFFF;
	border-color: rgb(227,121,85);
	background: rgb(227,121,85)
}

.booking_button a{
	padding: 1rem;
	width: 100%;
	display: inline-block;
	font-size: 1em;
	border: 2px solid #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
}

.booking_button  a:hover {
	background-color: #FFFFFF;
	color: #000000;

}


/*HEADER SECTION*/

.slider{
	display: inline-block;
	position:relative;
	width:100%;
}

.slider .text{
	width: 100%;
	padding: 4rem;
	position:relative;
	text-align: left;
	
}
	
.slider {

	background-image:url("../img/header_img(2)-02.png");
	background-size: 100%;
	background-repeat:no-repeat;
	display: flex;

	
}


/*TOP PAGE ENDS*/



body{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
	font-size: 0.8em;
}



.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color:#b52185;
  background-color: #6F585E;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation li{
	text-align: center;
	flex-grow:1;
}
.navigation img{
	height: 20%;
	width: auto;
	flex-grow:1;
}

.navigation .booking_button{
	text-align: center;
	flex-grow:2;
}

.navigation li:hover{
	background-color: #FFFFFF;
	color: #000000;
}



@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }


  .bundle-1{
  	 -webkit-flex-flow: row wrap;
  	justify-content: flex-start;
  }
  .image{
  	
  }
  .bundle_description-1{
   justify-content: space-around;
  }
  .bundle_description-1c{
  	order:1;
  	
  }
  .bundle_description-1b, .bundle_description-1a{
  	order:2;
  	

  }
}

@media all and (max-width: 600px) {
  .navigation{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

    .bundle_description-1{
    	flex-flow: column wrap
  }

  .bundle_description-1c{
  	width: 80%;
  }
}


.contact_us img{
	width: 5rem;
	height: auto;
}



.floorplan img{
	width: 100%;
	height: auto;
}

.floorplan li{
	display: block;
	text-align: left;
	text-decoration: none;
}

.floorplan h2{
	display: block;
	text-align: left;
	text-decoration: none;
}

.floorplan h3{
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 4em;
}

footer{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #856F73;

}
footer img{
	width:auto;
	height: 5em;
}
footer li {

	color: #ffffff;
	padding-left: 2rem;
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 0.4em;
}

select{
	width: 80%;
}




