html{
	background-color: #FFFFFF;
}
/*NORMAL ELEMENTS*/

/*NAV BAR*/
#navToggle {
	padding-left: 4rem;
	padding-right: 4rem;
	display: none;
	background-color:#E37A56;
	text-decoration: none;
	position: fixed;
	z-index: 9999;

}
#navToggle p{
	margin: 0;
	font-size: 0.5em;
	text-align: center;
	color:#FFFFFF;
}
#navigationbar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
/*    background-image:url(../img/body_background.jpg);*/
    background-size: 25%;
}
#navigationbar a{
	text-decoration: none;
	font-size: .8rem;
}
#navigationbar img{
    width: 6em;
    height: auto;
    margin-top: -0.2em;
}
#navigationbar .logo{
	flex: 3;
    justify-content: flex-start;
    margin-left: 2.5rem;
    margin-top: 0.4rem;
}
#navigationbar{
	display: flex;
	flex: 2;
	justify-content: space-around;
	align-items: center;
}

			/*nav bar achor tag color*/
			.home-bar a{
				color: #E37A56;
			}

			.bundle-bar a{
				color: #EEA35E;
			}

			.booking-bar{
				color: #6e8d9b;
				border:1px solid #6e8d9b;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 5rem;
				padding-right: 5rem;
			}
			.booking-bar a{
				/*border:1px solid #61B7A3;*/
				color: #6e8d9b;
			}

			.home-bar:hover {

				border-bottom: 3px solid #E37A56;
			}

			.bundle-bar:hover {

				border-bottom: 3px solid #EEA35E;
			}

			.booking-bar:hover {
				-webkit-transition: background-color .5s ease-out;
				-moz-transition: background-color .5s ease-out;
				-o-transition: background-color .5s ease-out;
				transition: background-color .5s ease-out;
				background: #6e8d9b;
			}
			.booking-bar:hover a{
				color: #FFFFFF;
			}


body{
	/*background-image: url(../img/body_background.jpg);*/
	margin: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
	font-size: 0.8em;
}
p{	
	font-size : 1em;
	font-weight: 300;
	text-align: left;
}
h1{
	line-height: 2em;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 700;
	font-size: 4em;
	color: rgb(227,121,85); /*orange*/
}
h2{
	text-align: left;
	font-family: "Open Sans", sans-serif;
	font-size: 2.5em;
	color: #000000;
}

h3{
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	color: #000000;
}
h4{
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #c86b84;
}

nav{
	background-color: #FFFFFF;
	width: 100%;
	height: 5em;
}

nav img{
	width: auto;
	height: 6em;
}

nav a{
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
}

header{
	background-color: #FFFFFF;
}
ul{
 padding: 0;
}

