
@-ms-viewport{
  width: device-width;
}

html{
	
	background-color: #FCF7EC;
}
/*DANIEL*/
nav img{
	width: auto;
	height: 6em;
}

#navigationbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*flex-direction: row-reverse;*/

    position: fixed;
    z-index: 1;  /*make it above heading img*/
    background: #FFFFFF;
}

/*navbar achor tag*/
/*nav a, nav a:visited, #navToggle {
	display: inline-block;
	background-color: blue;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}*/

#navToggle {
	display: none;
	background-color:#E37A56;
	text-decoration: none;

}
#navToggle p{
	
	text-align: center;
	color:#FFFFFF;
}
#navigationbar a{
	text-decoration: none;
}

/*nav bar achor tag color*/
.home-bar a{
	color: #E37A56;
}

.bundle-bar a{
	color: #EEA35E;
}

.booking-bar{
	border:1px solid #61B7A3;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.booking-bar a{
	/*border:1px solid #61B7A3;*/
	color: #61B7A3;
}

.home-bar:hover {

	border-bottom: 3px solid #E37A56;
}

.bundle-bar:hover {

	border-bottom: 3px solid #EEA35E;
}

.booking-bar:hover {
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background: #61B7A3;
}
.booking-bar:hover a{

	color: #FFFFFF;
}

/*SLIDER SECTION*/

.slider .text{
	width: 100%;
	padding: 4rem;
	align-self:auto;	
}
	
.slider {

	background-image:url("../img/header_img(2)-02.png");
	background-size: 100%;
	background-repeat:no-repeat;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.image-icon img{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 50px;
	flex-grow:1;
}

/*SLIDER SECTION*/

/*TOP PAGE */


body{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
	font-size: 0.8em;
}
p{	
	font-size : 1em;
	font-weight: 300;
	text-align: left;
}
h1{
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 700;
	font-size: 3em;
	color: rgb(227,121,85); /*orange*/
}
h2{
	text-align: left;
	font-family: "Open Sans", sans-serif;
	font-size: 2.5em;
	color: #000000;
}

h3{
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	color: #000000;
}
h4{
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #B52185;
}

nav{
	margin: 1em;
	background-color: #856F73;
	width: 100%;
	position:relative;
	margin: 0;

}
header{
	background-color: #856F73;
}
.navigationbar {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color:#b52185;
  background-color: #6F585E;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items:center;

}
.navigationbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation li{
	text-align: center;
	flex-grow:1;
}
.navigationbar img{
	height: 40px;
	width: auto;
	
}

.navigationbar .booking_button{
	text-align: center;
	flex-grow:2;
}

.navigationbar li:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background-color: #FFFFFF;
	color: #000000;
}

.booking_button a{
	padding: 1rem;
	width: 100%;
	display: inline-block;
	font-size: 1em;
	border: 2px solid #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
}

.booking_button  a:hover {
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	background-color: #FFFFFF;
	color: #000000;

}


/*HEADER ENDS*/

.payment{
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	justify-content: space-around;
	align-items:center ;
	/*background-color: #000000;*/
}

.payment-title{
	padding-top: 2rem;
	margin: 0; 
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	align-items:center ;
}

.payment-title h2{
	text-align: center;
	padding-right: 3rem;
	flex-grow:1;
}
.payment-title img{
	padding-right:1rem; 
	flex-grow:1;
}
[class^= 'inputs-']{
	padding: 1rem; 
}

.inputs-1 input, .inputs-2 input, .inputs-3 input, .inputs-4 input{
	height: 20px;
	padding: 1rem; /* If you add too much padding here, the options won't show in IE */
	width: 400px;
	border-radius: 20px;
	border-color: transparent;
	background: #F7DFD1;
}

.inputs-1 input:hover, .inputs-2 input:hover, .inputs-3 input:hover, .inputs-4 input:hover{
	background: transparent;
	border-color: #F7DFD1;
}
.confirm{
	padding: 2rem;
}
.confirm_button a{
	padding-left: 3rem;
	padding-right:3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	/*width: 100%;*/
	/*display: inline-block;*/
	font-size: 1em;
	border: 2px solid #FFFFFF;
	border-color: #E37955;
	text-decoration: none;
	color: #E37955;
}

.confirm_button  a:hover{
	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;
	border-color: #E37955;
	background-color: #E37955;
	color: #ffffff;
}


/*FOOTER*/
footer{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #856F73;

}
footer img{
	width:auto;
	height: 5em;
}
footer li {

	color: #ffffff;
	padding-left: 2rem;
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 0.4em;
}


/*MEDIA QUERIES*/
@media all and (max-width: 1000px) {
	  .shower .text2{
	padding-right: 20rem;
	}
}

@media all and (max-width: 900px) {
	  .shower .text2{
	padding-right: 15rem;
	}
}


@media all and (max-width: 800px) {
  #navigation {
    justify-content: space-around;
  }

  .shower .text2{
	padding-right: 10rem;

}
  .bundle-1{
  	 -webkit-flex-flow: row wrap;
  	justify-content: flex-start;
  }
  .bundle_description-1{
  	order:1;
  }
  .bundle-1{
  	order:2;
  }
  .bundle_description-1c{
  	order:1;
  }
  .bundle_description-1b, .bundle_description-1a{
  	order:2;
  	

  }
}

@media all and (max-width: 600px) {
    .shower{
    	padding: 1rem;
    }

    .shower .text2{
	padding-right: 5rem;

	}
  #navigationbar{
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .bundle-bar a, .booking-bar a, .home-bar a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  #navigationbar li:last-of-type a {
    border-bottom: none;
  }

  .bundle_description-1{
    flex-flow: column wrap
  }

  .bundle_description-1a, .bundle_description-1b{
  	width: 100%;
  	text-align: center;
  }

  .bundle_description-1a li, .bundle_description-1b li{
  	flex-grow:2;
  }

  .bundle_description-1c{
  	width: 80%;
  }
}

@media all and (max-width: 414px) {
	.shower{
    	padding: 0;
    }
	.image_1, .image_3, .image_4, .image_5, .image_6{
		display: none;
	}
}
@media all and (max-width: 414px) {
	.shower .text2{
    	padding:0;
    }
}


