
/*CODE DESCRIPTION*/

.code-discription p,.code-discription h3,.code-discription code{
	/*text-align:center;*/
	line-height: 1.5rem;
	margin: 2px;
	margin-left: 2.5rem;
	padding: 0px;
	display: block;
	position: relative;
	text-align: left;
}
.code-discription {
	margin-bottom: 1rem;
	/*border: 1px dotted #b52185;*/
	/*position: relative; */
	/*display: block;*/
}
.font-combination .code-discription {
	border: 0;
	position: relative; 
	/*border: 1px dotted #b52185;*/
	display: block;
	
}

.font-combination .code-discription p,.font-combination .code-discription h3,.font-combination .code-discription code{

	line-height: 1.5rem;
	margin: 2px;
	padding: 0px;

}


.input .code-discription{
	display: inline-block;
	position: relative;
}

.calendar-template .code-discription p{
	line-height: 1.5rem;
	margin-top: 4rem;
	margin: 2px;
	margin-left: 2.5rem;
	padding: 0px;
	display: block;
	position: relative;
	text-align: left;


}

.navbar-template .code-discription{

	display: inline-block;
	position: relative;

}

/*NORMAL ELEMENTS*/
.empty {
		display:inline-block;
		float:left;
		margin: 0; 
		text-align: center;
}


li{
	font-family: "Open Sans";
	font-size : 0.9rem;
	font-weight: 300;
	text-align: left;
}

p{

	font-family: "Open Sans";
	font-size : 0.9rem;
	font-weight: 300;
	margin: 2rem;
	padding: 2rem;
}

h1{
	font-family: "Oswald";
 	position: relative;
 	display: inline-block;
	font-weight: 700;
	font-size : 3rem;
	padding: 1rem;
}

 h2{
	font-weight: 700;
	font-size : 2rem;
}
 a{
	
	font-size : 1rem;
	font-weight: 400;
	margin: 2rem;
	padding: 2rem;
}

div{
	background-repeat: no-repeat;
}

.bgimg{
	background-image: url("img/party_background.png");
}

body{
	
	font-family: "Open Sans",'Oswald', sans-serif;
	color:black;
	font-size:0.8rem;
	margin:0;
}

img{
	height: auto; 
	width: 100%;
	margin:0;
}

ul{
	display: block;
	text-decoration: none;
}

li{
	display: block;
	text-align: center;
}


/*HEADER*/
.headerimg img{
	width: 100%;
	height: auto;
}

header{

}

nav{

	background-color: #b52185;

}
nav a {

	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

nav ul:hover li:hover a:hover {
	color: #b52185;
}
nav li:hover{
	color: #fed60e;
	background-color: #fed60e;
}


nav ul li a {
	display: inline-block;
	color: #fed60e;
	text-decoration : none;
}
nav li{
	display: inline-block;
     -webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}



/*HEADER DONE*/


/*TYPOGRAPHY*/
.typography{
	position:relative;
	margin: 1rem;
	padding: 2rem;
	line-height: 2rem;


}

[class^= 'type-box-'] { 
	padding-top:0.8rem;
	position:relative;
	display:inline-block;
	width: 100%;
	text-align: left;
	margin:0px;

}

[class^= 'type-box-'] ul li{ 
	position: relative;
	display: block;
	text-align: left;
	padding:0px;
	margin-left:-2.5rem;
	
}


.type-box-8 h1{
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 700;
	font-size: 6em;
	color: #EF4564;
	padding:0px;
	margin:0px;

}




.type-box-5 h2{
	font-family: 'Bubblegum Sans', cursive;
	display: block;
	font-size: 4em;
	color: #47B484;
	text-align: left;
	padding:0px;
	margin:0px;

}




.type-box-6 a {
	font-family: 'Bubblegum Sans', cursive;
	text-align:left;
	padding:0px;
	margin:0px;
}



.type-box-7 p{
	display:block;
	padding:0px;
	margin:0px; 
	
}



.type-box-9 h3{
	font-family: 'Bubblegum Sans', cursive;
	display: block;
	font-size: 3em;
	color: #FED602;
	text-align: left;
	padding:0px;
	margin:0px; 

}

.type-box-10 h4{
	font-family: 'Bubblegum Sans', cursive;
	display: block;
	font-size: 2em;
	color: #B52185;
	text-align: left;

	
}


.font-combination{
	width: 90%;
	position:relative;
	display: inline-block;
	margin: 1rem;
	padding: 1rem;
	padding-top: 4rem;
	padding-left: 4rem;
}


/*COLOR*/

.colorings{
	padding-left: 4rem;
}

.color-template{
	width: 100%;
	position:relative;
	margin: 1rem;
	padding: 1rem;



}
.color-box{

	font-family: "Open Sans";
	margin: 1rem;
	padding: 1rem;

	
}

.color-box ul li{
	text-decoration: none;
	margin: 0;
	padding: 0;
	left: 50%;
    margin-right: -50%;
}

.color-swatch1 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #b52185;
}

.color-swatch2 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #fed60e;
}
.color-swatch3 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #EF4564;

}
.color-swatch4 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #6cc4a2;
}
.color-swatch5 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #b51f27;
}

.color-swatch6 {
 	border-radius: 50%;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 1rem;
	background-color: #000000;
}


/*ICON*/
.icon-template{
	width: 90%;
	position:relative;
	margin-left: 1rem;
	padding: 1rem;
}
.icon-box {

	font-family: "Open Sans";
	/*border: 0.1rem solid black;*/
	position: relative;
	display: inline-block;
	margin: 1rem;
	padding: 1rem;

}

.icon-box p{

	margin: 0;
	padding: 0;
	left: 50%;
    margin-right: -50%;
}

.icon-box img{
	width: 4rem;
	height: auto;
	left: 50%;
    margin-right: -50%;
}

/*BUTTONS*/



.button-template{
	width: 90%;
	position:relative;
	display: inline-block;
	margin-left: 4rem;	
}

.button-class{
	padding-top: 4rem;
	padding-bottom: 10rem;
}

.booking-buttons{
	padding: 2rem;
}
.booking-buttons a{
	text-decoration: none;
	border-radius: 1rem;
	padding-left: 6rem;
	padding-right: 6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color:#b52185;
	font-size: .8rem;
	border: 1px solid #b52185;
	border-style: double;
	display:inline;
	width:50%;
    position: relative;
     -webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.confirm{
	padding: 2rem;
}

.confirm a{
	text-decoration: none;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-bottom: 2rem;
	text-align: center;
	color:#b52185;
	font-size: .8rem;
	border: 1px solid #b52185;
	border-radius: 2rem;
	display:inline;
	width:50%;
    position: relative;
     -webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
    
}

.more ,.less{ 
	padding: 2rem;
}

.more a, .less a{

	text-decoration: none;
	width: 50px;
	height: 50px;
	color:#b52185;
	border: 1px solid #b52185;
	border-radius: 50%;
	padding: 1rem;
	display:inline-block;
    position: relative;
    text-align: center;
     -webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
    
}

.confirm a:hover{
	background-color: #b52185;
	color: white;
}

.booking-buttons a:hover{
	background-color: #b52185;
	color: white;
}

.more a:hover,.less a:hover{
	background-color: #b52185;
	color: white;
	font-weight: 700;
}



/*CALENDAR*/
.calendar-template h5{

}
.calendar-template p,h3, code{
	text-align:center;
	line-height: 1.5rem;
	margin: 2px;
	padding: 0px;
	display: block;
	position: relative;
}

.calendar-template{
	padding: 2rem;
	margin-bottom: 10rem;
}

.calendar{
	display: inline-block;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
}

.calendar body {
	padding: 1rem;
}

.calendar h5{
	font-size: 1.5rem;
	font-weight: 500;
	color: #EF4564;
}

.calendar table { 
  width: 100%; 
  border-collapse: collapse;
  padding: 1rem; 

}



.calendar td, .calendar th {  
  color: #B52185; 
  font-weight: 400;
  padding: 1rem; 
  border: 1px dotted #47B484; 
  text-align: center; 
  width: 14.2857%;
}


.calendar td{
	font-weight: 300;
}

.calendar .old-days {
	color: #AAA;
}
.calendar td:hover {
	background:rgb(181, 33,133);
	color:#ffffff;
	font-weight: 500;
	border-style: solid;
}


@media(max-width: 760px){

.calendar table,.calendar thead, .calendar tbody, .calendar th, .calendar td, .calendar tr{
  display:block;
}
.calendar thead tr{
  display: none;
}
.calendar td{
	border: none;
	border-bottom: 1px solid #AAA;

}
}
/*FORM*/

.form-template {
	padding: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 1rem;
}
.contactyou {
	margin-bottom: 4rem;
}

form{
	width: 100%;
	position:relative;
	display: inline-block;
	/*margin-left: 4rem;*/
}
.row{
	padding-top: 2rem;
	
	
}

.input{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px dotted #b52185;
	border-radius: 1rem;
	color: #e54724;

}

/*NAV BAR TEMPLATE*/
.nav-template img:hover{
	img: 300%;
}
.nav-template{
	width: 100%;
	padding: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 1rem;
}
.navbar-template{
	margin: 4rem;
	padding-left:0;
	position: relative;
}

.navbar-template nav a{
	color: #e54724;

}

.navbar-template nav a:hover{
	color: white;
	/*font-size: 4rem;*/
	font-weight: 700;
	

}
.navbar-template nav li{
	display: inline-block;
	/*background-color: white;*/
	/*border: 1px dotted #e54724;*/
}

.navbar-template nav li:hover{
	/*display: block;*/
	color:white;
	/*background-color: white;*/
	/*border: 1px solid #e54724;*/
}
.navbar-template nav ul{
	padding: 0;
}

.navbar-template nav{
	padding: 0;
	background-color: white;
}
.navbar-template img{
	height: 80px;
	width: auto;
}






/*FOOTER*/




